{% extends 'base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/create.css' %}" />
<script src="{% static 'js/create.js' %}" defer></script>
{% endblock %} {% block content %}
<form
  method="post"
  enctype="multipart/form-data"
  action="{% url 'create_backend' %}"
>
  {% csrf_token %}
  <section>
    <p class="header">새 글 쓰기</p>
    <div class="content">
      <input class="title" name="title" type="text" placeholder="제목" />
      <textarea
        class="detail"
        name="content"
        id=""
        placeholder="본문을 적어주세요"
      ></textarea>
      <p style="display: inline-block">사진첨부</p>

      <div class="button" class="img_up">
        <label for="chooseFile">
          <img src="../../static/img/img.png" alt="이미지 업로드" />
        </label>
      </div>
      <input
        type="file"
        id="chooseFile"
        name="img"
        accept="image/*"
        onchange="loadFile(this)"
      />
      <br />
      <p style="display: inline">카테고리</p>
      <select name="gender" id="" style="margin-left: 3rem">
        <option value="" selected="selected" disabled>남녀공용</option>
        <option value="남자">남자</option>
        <option value="여자">여자</option>
      </select>
      <select name="cloth_type" id="" style="margin-left: 2rem">
        <option value="" selected="selected" disabled>종류</option>
        <option value="아우터">아우터</option>
        <option value="상의">상의</option>
        <option value="하의">하의</option>
        <option value="기타">기타</option>
      </select>
      <br />
      <br />
      <p style="display: inline">사이즈</p>
      <select name="size" id="" style="margin-left: 4rem">
        <option value="S" selected>S</option>
        <option value="M">M</option>
        <option value="L">L</option>
        <option value="XL">XL</option>
        <option value="2XL">2XL</option>
      </select>

      <br />
      <br />
      <p style="display: inline">대여비</p>
      <input
        class="cost"
        name="fee"
        type="text"
        placeholder="대여비를 적어주세요"
      />
      <p style="display: inline; margin-left: -0.8rem">₩</p>
      <p
        style="
          font-size: 0.8rem;
          font-weight: 700;
          display: inline;
          margin-left: 1rem;
        "
      >
        *1일 기준
      </p>
      <br />
      <br />
      <p style="display: inline">대여 가능기간</p>
      <div class="cal">
        <input type="date" name="start" id="dateofbirth" />
      </div>
      <p style="display: inline">~</p>
      <div class="cal">
        <input type="date" name="end" id="dateofbirth" />
      </div>
      <button type="submit" class="sub form__submit">글 올리기</button>
    </div>
  </section>
</form>


{% endblock %}
