{% extends 'base.html' %} {% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}

{% block content %}
      <div class="background_img">

      </div>
      <section>
        <a class="go_main" href="./main.html">목록으로</a>
        <div class="content">
            <p class="categroy_gender">여</p>
            <p class="categroy_type" >상의</p>
            <p class="title">글 제목</p>
            <a class="img_dir" href=""><img src="/static/img/direct.png" alt="채팅"></a>
            <a class="img_like" href=""><img  src="/static/img/like.png" alt="좋아요"></a>
            <div class="detail"></div>
            <br>
            <p class="content_p" style="display: inline;">사이즈</p>
            <select name="" id="" style="margin-left: 4rem;">
                <option value="">종류</option>
                <option value="">아우터</option>
                <option value="">상의</option>
                <option value="">하의</option>
                <option value="">기타</option>

            </select>
            <input class="size"type="text">
            <a href=""><img src="../../static/img/plus.png" alt="사이즈칸 늘리는 버튼" style="width:1rem"></a>
            <br>
            <br>
            <p class="content_p" style="display: inline;">대여비</p>
            <p class="content_p" style="display: inline; margin-left: 4.5rem;">5000 ₩</p>
            
            <br>
            <p class="content_p"style="display: inline;">대여기간</p>
            <div class="cal">
                <input  type="date" name="dateofbirth" id="dateofbirth">
            </div>
            <p class="content_p"style="display: inline;">~</p>
            <div class="cal">
                <input  type="date" name="dateofbirth" id="dateofbirth">
            </div>
            <button type="submit" class="sub">
                예약하기
            </button>
        </div>
    </section>
{% endblock %}
