{% extends 'base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}" />
{% endblock %} {% block content %}
<div class="background_img"></div>
<section>
  <a class="go_main" href="./main.html">목록으로</a>
  <div class="content">
    <p class="categroy_gender">{{post.gender}}</p>
    <p class="categroy_type">{{post.cloth_type}}</p>
    <p class="title">{{post.title}}</p>
    <a class="img_dir" href=""
      ><img src="/static/img/direct.png" alt="채팅"
    /></a>
    <a class="img_like" href=""
      ><img src="/static/img/like.png" alt="좋아요"
    /></a>
    <img src="{{post.img.url}}" class="detail"></img>
    <br />
    <p class="content_p" style="display: inline">{{post.size}}</p>
    <span class="sel" name="" id="" style="margin-left: 4rem"
      >{{post.cloth_type}}</span
    >
    <input class="size" type="text" />
    <a href=""
      ><img
        src="../../static/img/plus.png"
        alt="사이즈칸 늘리는 버튼"
        style="width: 1rem"
    /></a>
    <br />
    <br />
    <p class="content_p" style="display: inline">대여비</p>
    <p class="content_p" style="display: inline; margin-left: 4.5rem">
      {{post.fee}}
    </p>

    <br />
    <p class="content_p" style="display: inline">대여기간</p>
    <div class="cal">
      <span class="date" type="date" name="dateofbirth" id="dateofbirth"
        >{{post.start}}</span
      >
    </div>
    <p class="content_p" style="display: inline">~</p>
    <div class="cal">
      <span class="date" type="date" name="dateofbirth" id="dateofbirth"
        >{{post.end}}</span
      >
    </div>
    <button type="submit" class="sub">예약하기</button>
  </div>
</section>
{% endblock %}
