{% extends 'base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
<script
  src="https://kit.fontawesome.com/e4d6910b4e.js"
  crossorigin="anonymous"
></script>
{% endblock %} {% block content %}
<section>
  <div class="introduce">
    딱 한번 입을 옷<br />
    사지말고 빌리자!
  </div>

  <form action="#" method="POST">
    {% csrf_token %}
    <select class="gender" name="gender">
      <option value="" disabled selected>성별</option>
      <option value="남자">남자</option>
      <option value="여자">여자</option>
    </select>

    <select class="cody_filter" name="cloth">
      <option value="" disabled selected>종류</option>
      <option value="아우터">아우터</option>
      <option value="상의">상의</option>
      <option value="하의">하의</option>
      <option value="기타">기타</option>
    </select>

    <div class="search">
      <input type="text" name="word" placeholder="검색어를 입력해주세요" />
      <button class="fas fa-search fa-1x"></button>
    </div>
  </form>

  <div class="background_bottom">
    <article>
      {% for post in posts %}
      <div
        class="item_container"
        onclick="location.href='{% url 'detail' post.id %}'"
      >
        <img src="{{post.img.url}}" />

        <div class="info">
          <div class="name">{{post.user.nickname}}</div>
          <div class="title">{{post.title}}</div>
          <div class="day">{{post.start}}</div>
          <div class="contents">{{post.title}}</div>
        </div>
      </div>
      {% endfor %}
      <div class="item_container_create">
        <button
          class="fas fa-plus fa-3x"
          style="background-color: inherit; border: none"
          onclick="location.href='{% url 'create' %}'"
        ></button>
      </div>
    </article>
  </div>
</section>
<script type="text/javascript">
  var filter = "win16|win32|win64";

  if (navigator.platform) {
    if (0 > filter.indexOf(navigator.platform.toLowerCase())) {
      alert("모바일로 접속 하였습니다.\n PC로 접속해주세요!");
      window.location.href = "{% url 'mobile' %}";
      location.replace("{% url 'mobile' %}");
    }
  }
</script>

{% endblock %}
