{% extends 'base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
<script
  src="https://kit.fontawesome.com/e4d6910b4e.js"
  crossorigin="anonymous"
></script>
{% endblock %} {% block content %}
<section>
  <div class="introduce">
    딱 한번 입을 옷<br />
    사지말고 빌리자!
  </div>

  <form action="#" method="POST">
    {% csrf_token %}
    <select class="gender" name="gender">
      <option value="" disabled selected>성별</option>
      <option value="남자">남자</option>
      <option value="여자">여자</option>
    </select>

    <select class="cody_filter" name="cloth">
      <option value="" disabled selected>종류</option>
      <option value="아우터">아우터</option>
      <option value="상의">상의</option>
      <option value="하의">하의</option>
      <option value="기타">기타</option>
    </select>

    <div class="search">
      <input type="text" name="word" placeholder="검색어를 입력해주세요" />
      <button class="fas fa-search fa-1x"></button>
    </div>
  </form>

  <div class="background_bottom">
    <article>
      {% for post in posts %}
      <div class="item_container-flip">
          <div
          class="item_container front"
          onclick="location.href='{% url 'detail' post.id %}'"
        >
          <img class="img1"src="{{post.img.url}}" />

          <div class="info">
            <div class="name">{{post.user_id.nickname}}</div>
            <div class="title">{{post.title}}</div>
            <div class="day">{{post.start}}</div>
            <div class="contents">{{post.title}}</div>
          </div>
        </div>
        <div
          class="item_container back"
          onclick="location.href='{% url 'detail' post.id %}'"
        >
        

          <div class="info" style="padding-left: 0 10%;">
            
            <div class="name" style="padding-top: 2rem;">판매자 정보</div>
            <img src="{{ post.user_id.photo.url }}" class="profile_image" />
            <div class="title">{{post.user_id.nickname}}</div>
            <div class="day">{{post.user_id.address}}</div>
            <div class="contents" style="height:30%;">이미 예약된 기간</div>
            {% for arr_confirm_day in arr_confirm_days %}
            <div class="" style="margin: 0;">{{arr_confirm_day}}</div>
            {% endfor %}
          </div>

        </div>
      </div>
     
      {% endfor %}
      <div
        class="item_container_create"
        onclick="location.href='{% url 'create' %}'"
      >
        <button
          class="fas fa-plus fa-3x"
          style="background-color: inherit; border: none"
          onclick="location.href='{% url 'create' %}'"
        ></button>
      </div>
    </article>
  </div>
</section>
<script type="text/javascript">
  var filter = "win16|win32|win64";

  // if (navigator.platform) {
  //   if (0 > filter.indexOf(navigator.platform.toLowerCase())) {
  //     alert("모바일로 접속 하였습니다.\n PC로 접속해주세요!");
  //     window.location.href = "{% url 'mobile' %}";
  //     location.replace("{% url 'mobile' %}");
  //   }
  // }

  // 카드뒤집기 js
  $(".item_container-flip").mouseover(function(event){
    let target = $(this).closest(".item_container-flip");
      target.css({'transform':'rotateY(180deg)'});
});

$(".item_container-flip").mouseleave(function(event){
    let target = $(this).closest(".item_container-flip");
    target.css({'transform':'rotateY(0deg)'});
});
</script>



{% endblock %}
