<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="{% url 'message' post_id rid %}" method="POST">
      {% csrf_token %}
      <input type="text" name="content" />
      <button type="submit">제출</button>
    </form>

    {% for message in messages %}
    <script>
      console.log("{{message.recieve_id.id}}");
    </script>
    {% if message.send_id.id != request.user.id %}
    <p style="color: blue">{{message.content}}</p>
    {%endif %} {% endfor %} {% for message_send in messages_send %}
    <p style="color: red">{{message_send.content}}</p>
    {% endfor %}
  </body>
</html>
