{% extends 'base.html' %} {% load static %} 

{% block style %}
<link rel="stylesheet" href="{% static 'css/signupNmodify.css' %}">

{% endblock %}

{% block content %}
    <div class="container">
      <div class="design-line--top"></div>
      <h1 class="container__title">SIGNUP</h1>
      <form class="form" action="{% url 'signup_backend' %}" method="POST">
        {% csrf_token %}
        <div class="form__box">
          <h5 class="form__title">아이디</h5>
          <input class="form__input" type="text" name="id" />
        </div>
        <div class="form__box">
          <h5 class="form__title">비밀번호</h5>
          <input class="form__input" type="password" name="password" />
        </div>
        <div class="form__box">
          <h5 class="form__title">비밀번호 확인</h5>
          <input class="form__input" type="password" name="password_check" />
        </div>
        <div class="form__box">
            <h5 class="form__title">이름</h5>
            <input class="form__input" type="text" name="name" />
        </div>
        <div class="form__box">
          <h5 class="form__title">닉네임</h5>
          <input class="form__input" type="text" name="nickname" />
        </div>
        <div class="form__box">
          <h5 class="form__title">성별</h5>
          <select class="form__input form__input-select" name="gender" id="">
            <option value="male">남</option>
            <option value="female">여</option>
          </select>
        </div>
        <div class="form__box">
          <h5 class="form__title">생년월일</h5>
          <input class="form__input form__input-date" type="date" name="birth" />
        </div>
        <input type="text" value="{{located}}" hidden>
        <div class="form__box">
          <input
            class="form__submit"
            type="submit"
            id="login-submit"
            value="회원가입"
          />
          <button class="kakao-login">카카오 로그인</button>
        </div>
      </form>
      <div class="design-line--bottom"></div>
    </div>
{% endblock %}

