{% extends 'base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'css/signupNmodify.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="{% static 'js/signup.js' %}" defer></script>
{% endblock %} {% block content %}
<div class="container">
  <div class="design-line--top"></div>
  <h1 class="container__title">SIGNUP</h1>
  <form
    class="form"
    action="{% url 'signup_backend' %}"
    method="POST"
    enctype="multipart/form-data"
  >
    {% csrf_token %}

    <div class="form__box form_image_box">
      <img
        src="http://www.supiamuseum.com/common/img/default_profile.png"
        class="profile_photo"
        id="image"
      />
      <label for="file_name" class="file">
        <i class="fa fa-plus-circle"></i>
      </label>
      <input
        class="upload"
        type="file"
        name="photo"
        id="file_name"
        class="upload-hidden"
      />
    </div>

    <div class="form__box">
      <h5 class="form__title">아이디</h5>
      <input class="form__input" type="text" name="id" />
    </div>
    <div class="form__box">
      <h5 class="form__title">비밀번호</h5>
      <input class="form__input" type="password" name="password" />
    </div>
    <div class="form__box">
      <h5 class="form__title">비밀번호 확인</h5>
      <input class="form__input" type="password" name="password_check" />
    </div>
    <div class="form__box">
      <h5 class="form__title">이름</h5>
      <input class="form__input" type="text" name="name" />
    </div>
    <div class="form__box">
      <h5 class="form__title">닉네임</h5>
      <input class="form__input" type="text" name="nickname" />
    </div>
    <div class="form__box">
      <h5 class="form__title">성별</h5>
      <select class="form__input form__input-select" name="gender" id="">
        <option value="male">남</option>
        <option value="female">여</option>
      </select>
    </div>
    <div class="form__box">
      <h5 class="form__title">생년월일</h5>
      <input class="form__input form__input-date" type="date" name="birth" />
    </div>
    <input type="text" id="location" name="location" value="" hidden />
    <div class="form__box">
      <input
        class="form__submit"
        type="submit"
        id="login-submit"
        value="회원가입"
      />
      <button class="kakao-login">카카오 회원가입</button>
    </div>
  </form>
  <div class="design-line--bottom"></div>
</div>
{% endblock %}
