@import url("https://fonts.googleapis.com/css2?family=Ramaraja&display=swap");
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

section .introduce {
  margin-left: 14rem;
  max-width: 190px;
  padding: 26px 0px 26px 30px;
  position: relative;
  margin-top: 2em;
  left: -1rem;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  font-size: 2.25rem;
}

section .introduce::before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-top: 5px solid black;
  border-left: 5px solid black;
}

section .introduce::after {
  position: absolute;
  content: "";
  bottom: 0px;
  right: -20px;
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #b1b1b1;
  border-right: 5px solid #b1b1b1;
}

.profile_card {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 33px;
  width: 60vw;
  height: 43vh;
  box-shadow: 15px 15px 40px 0px rgba(0, 0, 0, 0.07);
}

.profile_card .profile_image {
  margin-left: 20px;
  width: 40%;
  height: 90%;
  border-radius: 20px;
  background-color: #d9d9d9;
  object-fit: cover;
}
.profile_card .profile_box {
  display: flex;
  flex-direction: column;

  margin-left: 30px;
}

.profile_box {
  width: 50%;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 10px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
}

.profile_card .profile_box .profile_id {
  width: 90%;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 10px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
}

.profile_card .profile_box .profile_detail {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 33vh;
}

.profile_card .profile_box .profile_detail .text_box{
  width: 100%;
}

.profile_card .profile_box .profile_detail .row {
  /* width: 90%; */
  display: flex;
  justify-content: space-between;
}
.profile_card .profile_box .profile_detail .name {
  display: flex;
}

.profile_card .profile_detail .title_small {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.8rem;
  color: #c4c4c4;
  width: 40px;
  position: relative;
  top: 0.5rem;
}

.profile_card .profile_detail .name_addr {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  /* width: 80%; */
}

.profile_card .profile_detail .title_lend {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.profile_card .profile_detail .lend_sell {
  display: inline-block;
  /* width: 80px; */
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: right;
}

.profile_card .profile_detail .lend {
  /* width: 15vw; */
  text-align: center;
  margin-right: 30px;
}

.profile_btn_group {
  align-self: flex-end;
  display: flex;
  width: 90%;
  height: 5vh;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-content: center;
}

.profile_btn_group .profile_btn {
  width: 13vw;
  height: 6vh;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  background: inherit;
  border: none;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.profile_btn_group .profile_btn:hover {
  border: 1px solid black;
}

.profile_card .profile_edit {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.875rem;
  color: #c4c4c4;
  text-align: right;
  margin-top: 10px;
  margin-right: 30px;
}

/* 아이템 컨테이너 */
.background_bottom {
  background-color: #f9f9f9;
  position: relative;
  top: 50px;
  background-repeat: no-repeat;
  background-size: cover; 
  /* border-top-left-radius: 10%;
    border-top-right-radius: 10%; */
}

section .item_info {
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 100px; */
  width: 70vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

section .item_info .item_container {
  position: relative;

  background-color: white;
  width: 260px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 15px 15px 40px 0px rgba(0, 0, 0, 0.07);
  margin: 0 20px 20px 20px;
  margin-bottom: 100px;
  z-index: 1;
}

section .item_info .item_container img {
  width: 260px;
  height: 160px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 8px;
}


section .item_info .item_container .info {
  margin-left: 20px;
  margin-right: 14px;
}

section .item_info .item_container .info .name {
  font-family: "Noto Sans KR", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.6rem;
  color: #707070;
  margin-top: 6px;
}

section .item_info .item_container .info .title {
  padding-bottom: 7px;
  margin-right: 0.7rem;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
}

section .item_info .item_container .info .title:hover {
  text-decoration: underline;
}

section .item_info .item_container .info .day {
  font-family: "Noto Sans KR", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.813rem;
  color: #707070;
  margin-bottom: 4px;
}

section .item_info .item_container .info .info_title {
  display: flex;
  align-content: flex-end;
  width: 200px;
  border-bottom: 1px solid #e1e1e1;
}

section .item_info .item_container .info .contents {
  font-family: "Noto Sans KR", sans-serif;
  height: 100px;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  overflow: scroll;
}

section .item_info .item_container .info .star_btn {
  width: 230px;
  display: flex;
  background-color: inherit;
  border: none;
  justify-content: flex-end;
}
section .item_info .item_container .info .contents::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

section .more {
  width: inherit;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.938rem;
  color: #898989;
}

section .mypage_btn_group {
  margin-left: auto;
  margin-right: auto;
  width: 45vw;
  display: flex;
  margin-top: 50px;
}

section .like_title {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 36px;
  width: 60vw;
  margin-top: 73px;
  margin-bottom: 73px;
  top: -20px;
}

.middle_horizon {
  width: 100vw;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
  background-color: white;
  position: fixed;
  z-index: 10;
  top: 0;
  height: 6vh;
}

.middle_horizon > .profile_btn_group{
  margin: 0 auto;
}

section .item_info .item_container .info .contents_sell {
  font-family: "Noto Sans KR", sans-serif;
  height: 73px;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  overflow: scroll;
}

.lend_btns {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  /* width: 220px; */
  justify-content: flex-end;

}

.lend_btn {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
  background-color: black;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.9rem;
  color: white;
  margin-left:0.5rem;

}

.lend_btn.lend_btn-text {
  background-color: white;
  color: gray;
  box-shadow: none;
  font-size: 12px;
  padding: 0 0.6rem 0 0;
  margin: 0;
  text-align: right;
}

.lend_btn.lend_btn-icon {
  background-color: white;
  color: black;
  box-shadow: none;
  width: 35px;
  padding: 0;
  margin: 0;
}

.sell_btns {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  width: 220px;
  justify-content: flex-end;
}
.sell_btns button:first-child,
.sell_btns button:nth-child(2) {
  color: black;
  border: none;
  background-color: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 7px;
}

footer {
  margin-top: 10em;
  margin-bottom: 3em;
  margin-left: 18em;
  margin-right: 18em;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.938rem;
  color: #c4c4c4;
}

footer .footer_info {
  margin-bottom: 5px;
}


/* 모달 */
.popup {
  width: 400px;
  position: fixed;
  top: calc(50vh - 150px);
  left: calc(50vw - 100px);
  background-color: black;
  color: white;
  z-index: 10;
  border-radius: 10px;
}

.popup h3{
  text-align: center;
  margin: 2rem 2rem 1rem 2rem;
  font-size: 18px;
  font-weight: bold;
}

.popup h5{
  text-align: center;
  margin: 0.5rem 2rem;
  font-size: 15px;
}

.popup .ok, .popup .cancel {
  width: 40%;
  padding: 0.5rem;
  background-color: white;
  border-radius: 5px;
  margin: 0 auto;
  border: 1px solid black;
  font-weight: bold;
}

.popup .ok {
  color: #DE0000;
  margin: 0.5rem 2% 1rem 7%;
}

.popup .ok:hover{
  background-color: #DE0000;
  color: white;
}

.popup .cancel {
  margin: 0.5rem 7% 1rem 2%;
}

.popup .cancel:hover{
  background-color: #4273D1;
  color: white;
}

/* 카드 뒤집기 js */

.item_container-flip{
  transition: transform 1s;
  transform-style: preserve-3d;
}

.front{
  backface-visibility: hidden;

}

section .item_info .item_container.back {
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  z-index: 100;
}

.item_container.back .wrapper {
  padding: 1rem;
}

.wrapper li{
  font-weight: bold;
  display: inline-block;
  width: 40%;
  margin: 0.7rem 0;
}

.wrapper a{
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.2rem;
  margin: 0.1rem;
  text-decoration: none;
  color: grey;
}

.wrapper a:hover{
  color: black;
}