{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
    {% block style %} {% endblock %}
  </head>
  <body>
    <header>
      {% if request.user.is_authenticated %}
      <div class="logo">
        <a class="link" href="{% url 'main' user.id %}">CS</a>
      </div>
      {% else %}
      <div class="logo">
        <a class="link" href="{% url 'main_logout' %}">CS</a>
      </div>
      {% endif %}
      <div class="account">
        {% if request.user.is_authenticated %}
        <a class="link" href="{% url 'logout_backend' %}"
        >Logout&nbsp;</a
      ></span
    >
    <span><a class="link" href="{% url 'mypage' %}">MyPage</a></span>

        {% else %}
        <span><a class="link" href="{% url 'login' %}">LOGIN&nbsp;</a></span>
        <span><a class="link" href="{% url 'signup' %}">SIGNUP</a></span>

        {% endif %}
      </div>
    </header>
    {% block content %} {% endblock %}
    <footer>
      <div class="footer_info">CONTACT 1234@gmail.com</div>
      <div class="footer_info">DEVELOPER 김가은 · 이도연 · 양소열</div>
    </footer>
  </body>
</html>
