{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
  </head>
  <body>
    <header>
      <div class="logo"><a class="link" href="{% url 'main' %}">CS</a></div>
      <div class="account">
        <span><a class="link" href="{% url 'login' %}">LOGIN&nbsp;</a></span>
        <span><a class="link" href="{% url 'signup' %}">SIGNUP</a></span>
      </div>
    </header>
  </body>
</html>

{% block content %} {% endblock %}
